/*
  Custom styles for Trackster App
*/

body {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}

/* Page Header Section */

header {
  background-color: rgb(35, 2, 63);
  color: rgb(255, 255, 255);
  min-width: 992px;
}

header .col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  padding: 0;
}

#buttonCol {
justify-content: flex-end;
}

h1 {
  color: rgb(255, 0, 171);
  font-size: 3rem;
  font-family: 'Righteous', cursive;
  margin: 0;
  padding: 0 0 5px;
  transition: color 500ms linear;
}

.search {
  background-color: rgb(255, 255, 255);
  border-top: 4px solid rgb(200, 200, 200);
  border-left: 4px solid rgb(200, 200, 200);
  border-radius: 22px;
  padding: 8px 10px 10px 8px;
  width: 100%;
}

.search input {
  padding-left:90%;
  border: none;
  color: rgb(191, 191, 191);
  padding: 0 5px;
  width: 100%;
}

#searchText:hover {
  border: none;
  cursor: pointer;
}

.fa-times {
  color: rgb(191, 191, 191);
  position: relative;
  left: -30px;
  top: 1px; /* center x vertically */
  width: 0;
  z-index: 999;
  cursor: pointer;
}

.searchButton {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 102, 204);
  color: rgb(35, 2, 63);
  padding: 6px;
  border-radius: 22px;
  width: 90%;
}

#cmdSearch:hover {
  cursor: pointer;
}

/* Table Header Section */

#tableHeader {
  background-color: rgb(104, 0,255);
  color: rgb(255, 255, 255);
  min-width: 992px;
}

#tableHeader .col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding: 0 5px;
}

/* Table Section */

#tableBody {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(204, 204, 204);
  min-width: 992px;
}

#tableBody .col {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  color: rgb(74, 74, 74);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding: 0 5px;
}

.fa-play-circle-o {
  color: rgb(255, 0, 171);
  cursor: pointer;
}

#video {
  display: none;
}

#videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
